In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
#File 1 input
feedbackClean = pd.read_excel('feedback.xlsx')

#File 2 input (Separating sheets into individual dataframes)
xls1 = pd.ExcelFile('sales-and-feedback.xlsx')
customerFeedback = pd.read_excel(xls1, "Customer Feedback")
salesHistory = pd.read_excel(xls1, "Sales History")

#File 3 input (Separated by individual sheets)
xls2 = pd.ExcelFile('transaction-records.xlsx')
countryCodes = pd.read_excel(xls2, "Country_Codes")
geography = pd.read_excel(xls2, "Geography")
orders = pd.read_excel(xls2, "Orders")
orderItems = pd.read_excel(xls2, "Order_Items")
customer = pd.read_excel(xls2, "Customer")
product = pd.read_excel(xls2, "Product")

In [3]:
orders

    Seq  Order Number  Customer_ID Order_Date  Ship_Date    Status  N_Items
0     1             1       310020 2019-01-01 2019-01-04  Complete        1
1     2             2      9400009 2019-01-01 2019-01-04  Complete        8
2     3             3      5300016 2019-01-01 2019-01-03  Complete        8
3     4             4       700002 2019-01-01 2019-01-04  Complete        2
4     5             5      5300016 2019-01-10 2019-01-12  Complete        6
..  ...           ...          ...        ...        ...       ...      ...
95   96            96      3500018 2019-03-12 2019-03-15  Complete        3
96   97            97      7910010 2019-03-12 2019-03-15  Complete        3
97   98            98      9400009 2019-03-12 2019-03-14  Complete        4
98   99            99      7410014 2019-03-12 2019-03-14  Complete        5
99  100           100      7410014 2019-03-13 2019-03-14  Complete        3

[100 rows x 7 columns]

In [4]:
orderItems

,Sequence,Order_Count,Order Number,N_Items,Order_Item,Status,Product_ID
0,1,1,1,1,1,Complete,103060209
1,2,2,2,8,1,Complete,201030402
2,3,2,2,8,2,Complete,103040203
3,4,2,2,8,3,Complete,101020503
4,5,2,2,8,4,Complete,101040401
...,...,...,...,...,...,...,...
495,496,113,113,8,5,Complete,103030904
496,497,113,113,8,6,Complete,103030904
497,498,113,113,8,7,Complete,103030804
498,499,113,113,8,8,Complete,301060704
499,500,114,114,2,1,Complete,104010205

In [5]:
mergeOrders = pd.merge(orders, orderItems, on="Order Number")

In [6]:
mergeOrders = mergeOrders.drop(["Sequence","Ship_Date","Status_x","Status_y","N_Items_y","Order_Count","Seq"], axis=1)

In [7]:
mergeOrders

     Order Number  Customer_ID Order_Date  N_Items_x  Order_Item  Product_ID
0               1       310020 2019-01-01          1           1   103060209
1               2      9400009 2019-01-01          8           1   201030402
2               2      9400009 2019-01-01          8           2   103040203
3               2      9400009 2019-01-01          8           3   101020503
4               2      9400009 2019-01-01          8           4   101040401
..            ...          ...        ...        ...         ...         ...
439            99      7410014 2019-03-12          5           4   110010307
440            99      7410014 2019-03-12          5           5   110060408
441           100      7410014 2019-03-13          3           1   105030609
442           100      7410014 2019-03-13          3           2   108030809
443           100      7410014 2019-03-13          3           3   207060709

[444 rows x 6 columns]

In [8]:
def custToProdList(customerId):
    return(mergeOrders.loc[mergeOrders['Customer_ID'] == customerId, 'Product_ID'])

In [9]:
def mostFrequent(customerId):
    return custToProdList(customerId).value_counts().idxmax()

In [10]:
def mostRecent(customerId):
    return custToProdList(customerId).iloc[-1]

In [11]:
def randomPurchase(customerId):
    listRange = len(custToProdList(customerId))
    randNum = random.randrange(0,listRange-1)
    return custToProdList(customerId).iloc[randNum]

In [12]:
def custToProd(customerId,choice):
    if choice == 'frequent':
        return mostFrequent(customerId)
    if choice == 'recent':
        return mostRecent(customerId)
    if choice == 'random':
        return randomPurchase(customerId)

In [13]:
custToProd(9400009,'random')

110060806

In [14]:
custToProd(9400009,'recent')

104030704

In [15]:
custToProd(9400009,'frequent')

110051007

In [16]:
testTable = mergeOrders.drop(['Order_Date','N_Items_x','Order_Item'],axis=1)

In [17]:
allProducts = pd.read_csv('allProducts.csv')

In [18]:
testTable = pd.read_csv('mergedTable.csv')

In [19]:
testTable

     Customer_ID  Product_ID  Frequency
0         310020   103060209          1
1        9400009   201030402          1
2        9400009   103040203          1
3        9400009   101020503          1
4        9400009   101040401          1
..           ...         ...        ...
439      7410014   110010307          1
440      7410014   110060408          1
441      7410014   105030609          1
442      7410014   108030809          1
443      7410014   207060709          1

[444 rows x 3 columns]

In [20]:
orderList = []
for i in mergeOrders['Order Number'].unique():
    individualOrder = mergeOrders.loc[mergeOrders['Order Number'] == i, ['Product_ID']]
    orderList.append(individualOrder['Product_ID'].tolist())
orderList

[[103060209],
 [201030402,
  103040203,
  101020503,
  101040401,
  201040303,
  103010301,
  201060202,
  201020401],
 [102020705,
  104010805,
  101030804,
  103020705,
  203050603,
  101040905,
  104040703,
  203050806],
 [204011007, 102050907],
 [102060508, 104030301, 104040201, 302060309, 104040309, 103040201],
 [104060403, 102030305, 103010205, 101040302, 103060404, 203040403],
 [103030701],
 [201040709, 204010508, 103060807, 103020607, 102030609, 102010609, 104040706],
 [102030109, 102061009, 201030110],
 [109060605, 110040806, 110020605, 110050903, 110050806, 104010605, 202020503],
 [203061008, 104041001],
 [102060805, 103050106, 104011008],
 [210010907, 210040907, 104010106],
 [204051007,
  104020807,
  210021005,
  210041007,
  104020805,
  204040908,
  204011007,
  104020907],
 [102020206, 103050206, 103040106],
 [101010708,
  101020706,
  201060705,
  203050606,
  201040708,
  101060608,
  103010508,
  101030708],
 [104030807, 102061008],
 [102060108, 210030206],
 [202030501,
  204040602,
  101050703,
  202040503,
  101050702,
  102050701,
  102060703,
  102030402],
 [101051001, 104020909, 202060901, 102050910, 103020901],
 [203030101, 103010103, 103040101],
 [103040607, 103030709, 201050709, 301050706, 203020506, 103040506, 103060607],
 [108060605,
  207040405,
  107030705,
  108060502,
  207060703,
  206030703,
  106050707,
  107010703],
 [210051005,
  110051007,
  304010806,
  104020905,
  104061006,
  104050806,
  110060806,
  110010907],
 [104050905, 201030905, 104030705, 202060903],
 [103040310,
  101050309,
  102050401,
  102010109,
  103020401,
  102020201,
  201060310,
  103020210],
 [203060504, 103040606, 103060404, 103010706, 101060407, 103030404],
 [203041010, 204051010],
 [104040402, 104030301, 104050601, 102060501],
 [104010205, 101060405, 203030105],
 [104061009],
 [104050504, 110030403, 204020606, 204050706, 110020606, 110020505],
 [102030307,
  101020107,
  101030206,
  102040108,
  203050308,
  104040408,
  202050108,
  201030208],
 [101060403, 101040604, 101010702, 201020704, 203030603],
 [104020603, 102030601, 109020303, 102050601],
 [203030809, 101050801],
 [201040509, 101030508],
 [201020509, 103050408, 103060207, 101050507, 103010509, 101020309],
 [204020607, 102060509, 101050807, 304060809, 104030809],
 [104060507, 110050308, 110050307, 210050209, 104010107, 210050409, 104030408],
 [201010605],
 [110010509,
  204010510,
  104060401,
  210050508,
  110020308,
  104050308,
  104030607,
  104010508],
 [103020809, 101030809, 204010801, 102010801, 102050801, 104050601],
 [103040202,
  103010103,
  101020203,
  101030301,
  203010103,
  101060304,
  201030303,
  101010201],
 [105060401, 208050601, 205020608, 106040401],
 [201050905, 103020903, 103060904],
 [102010504, 101020705],
 [104030804, 101010805, 204051005, 101050803, 103011005, 102040905, 101011005],
 [101060806, 101030705, 203060803, 201050804, 103010804],
 [102060910, 103020501, 101060710],
 [103040308, 101010408, 201050409, 103050409, 201010208, 103020407, 103060209],
 [104010506, 210020406, 110050506],
 [208020101, 208010310],
 [307020803, 107020803, 107010903],
 [101030603, 304040501, 204030701, 201030402],
 [102040505, 103050405, 103060706, 102030705],
 [103020805, 103030806, 101050806, 103021005, 103010704, 103010606, 201060803],
 [101050410, 101030409, 201010508],
 [202060302],
 [104060801, 101040904, 103010101, 202060103, 102061002, 103040101],
 [104060104, 104010201, 104030104, 104020204, 101050202, 102030203, 102020204],
 [201020804, 101050805, 202060804, 101020905],
 [103060106, 203040206],
 [103060210, 202020110, 304030201],
 [102031006, 110010804, 204050805],
 [104040408,
  101060109,
  102030209,
  101030410,
  104020210,
  103040410,
  204030307,
  302030401],
 [103030908, 201040804],
 [107050102, 107020201, 206010301, 105020301],
 [103060408, 201040307, 203030309, 103020410],
 [104040806, 104021006, 109030805, 109021006],
 [204030805, 102010903, 103021002],
 [101060905, 103020805],
 [105060504, 107040505, 106010604, 108050503],
 [102010503, 303060701],
 [302060210, 103040409, 104050309, 102050609],
 [109011008,
  210060107,
  204031009,
  210050109,
  204010110,
  104031007,
  209010109,
  109021009],
 [104040704, 104050704, 101010805, 203060704],
 [103040401, 203030401, 104050402],
 [203060309, 101060309, 103050310, 101010401, 101040410, 101050501, 103020601],
 [103060310, 104050310, 104020410, 101020310, 201030308],
 [110020208, 104010509],
 [101050105, 101030302, 104020102],
 [203060502, 103020503, 103030504],
 [103050809, 103031010, 203040108],
 [101040309, 101030507],
 [102030403, 109010403, 309020701, 110050503, 109020704, 202010703, 104060601],
 [102050101,
  103040110,
  302030101,
  203030108,
  104060808,
  104051009,
  203040101,
  101030101],
 [210051005, 110010905],
 [101030410,
  101020210,
  102030401,
  103020408,
  204060209,
  204060210,
  102020407,
  103020310],
 [102040704,
  103040604,
  202030506,
  102040705,
  104020704,
  104040604,
  204020507,
  102060606],
 [101030806, 103010603, 201060604, 101030605, 101060505, 103050505],
 [103041007],
 [102050603, 102030603],
 [201060203, 201040105, 103050205, 104060203, 103040103, 103060105],
 [202050208, 102060306, 201020209],
 [110050104, 110020104, 204040103],
 [101030501, 104020201, 101020510],
 [101061005, 103030904, 102040804, 104030704],
 [110030307, 104060408, 210010406, 110010307, 110060408],
 [105030609, 108030809, 207060709]]

In [21]:
result = pd.DataFrame({"Customer_ID":testTable['Customer_ID'],
                      "Product_ID":testTable['Product_ID'],
                      "Frequency":testTable['Frequency']})

result1 = result.pivot_table(index='Customer_ID',columns='Product_ID',values='Frequency').fillna(0)

In [22]:
from surprise import Dataset
from surprise import Reader

In [23]:
result2 = result1.stack()
result2.to_csv('preStackTable.csv',header=True)
result2 = pd.read_csv('preStackTable.csv')
result2 = result2.rename(columns={"0": "Frequency"})

In [24]:
reader = Reader(rating_scale=(0, 1))

In [25]:
data = Dataset.load_from_df(result2[["Customer_ID", "Product_ID", "Frequency"]], reader)

In [26]:
from surprise import KNNWithMeans

# To use item-based cosine similarity
sim_options = {
    "name": "cosine",
    "user_based": False,  # Compute  similarities between items
}
algo = KNNWithMeans(sim_options=sim_options)

In [27]:
trainingSet = data.build_full_trainset()

algo.fit(trainingSet)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [28]:
prediction = algo.predict(5210019, 103060209)
prediction.est

0.04825035125304308

In [29]:
def custToProdRec(customerID,productID):
    prediction = algo.predict(customerID, productID)
    pred = prediction.est
    return pred

In [30]:
productList = allProducts['Product_ID'].tolist()

In [31]:
def custReco(customerID):
    recos = {}
    for i in productList:
        rating = custToProdRec(customerID,i)
        if rating < 0.99:
            recos[i] = rating
    sortedRecos = {k: v for k, v in sorted(recos.items(), key=lambda item: item[1], reverse=True)}
    return list(sortedRecos)[0:6]

In [32]:
custReco(5210019)

[210051005, 103020805, 106060104, 107060801, 101021007, 106070504]

In [33]:
# FUNCTION TO TAKE IN PRODUCT ID AND OUTPUT RECO PRODUCT ID

productPrePivot = pd.DataFrame({"Product_ID1":allProducts['Product_ID'],
                      "Product_ID2":allProducts['Product_ID'],
                      "Frequency":0})
productPivot = productPrePivot.pivot_table(index='Product_ID1',columns='Product_ID2',values='Frequency').fillna(0)

In [34]:
productTable = productPivot.stack()
productTable.to_csv('productTable.csv',header=True)
productTable = pd.read_csv('productTable.csv')
productTable = productTable.rename(columns={"0": "Frequency"})

In [35]:
productTable

        Product_ID1  Product_ID2  Frequency
0         101010201    101010201        0.0
1         101010201    101010203        0.0
2         101010201    101010204        0.0
3         101010201    101010401        0.0
4         101010201    101010408        0.0
...             ...          ...        ...
337556    309020701    304060809        0.0
337557    309020701    307010406        0.0
337558    309020701    307020803        0.0
337559    309020701    307030706        0.0
337560    309020701    309020701        0.0

[337561 rows x 3 columns]

In [36]:
productList1 = productTable['Product_ID1'].tolist()
productList2 = productTable['Product_ID2'].tolist()

In [ ]:
# KEEP COMMENTED OUT, LONG FUNCTION TO RUN, FOR LOOPS 337K ROWS

for i in range(0,len(productList1)):
    for n in orderList:
        if productList1[i] in n:
            if productList2[i] in n:
                productTable.loc[(
                    productTable['Product_ID2'] == productList2[i]
                ),'Frequency'] += 1/(len(n))

In [ ]:
productTable

In [ ]:
# NEW ALGO FOR PRODUCT TO PRODUCT

reader2 = Reader(rating_scale=(0, productTable['Frequency'].max()))
data2 = Dataset.load_from_df(productTable[["Product_ID1", "Product_ID2", "Frequency"]], reader2)
algo2 = KNNWithMeans(sim_options=sim_options)

In [ ]:
trainingSet2 = data2.build_full_trainset()

algo2.fit(trainingSet2)

In [ ]:
def prodToProdRec(productID1,productID2):
    prediction = algo2.predict(productID1, productID2)
    pred = prediction.est
    return pred

In [ ]:
def prodReco(productID):
    recos = {}
    for i in productList:
        if productID != i:
            rating = prodToProdRec(productID,i)
            recos[i] = rating
    sortedRecos = {k: v for k, v in sorted(recos.items(), key=lambda item: item[1], reverse=True)}
    return list(sortedRecos)[0:6]

In [ ]:
prodReco(309020701)